<div class="main-container">
  <div class="main-1">
    <button class="image-button" [routerLink]="['/maze']">
      <img src="icons/canvas.png" alt="Image" class="button-canvas">
      <div class="image-text-solo">Wait! It's Time to Play, Not Get Married!</div>
    </button>

    <button class="image-button" [routerLink]="['/card']">
      <img src="icons/canvas.png" alt="Image" class="button-canvas">
      <div class="image-text"><br>School's Cool! Get Your Learn On!</div>
    </button>

    <button class="image-button">
      <img src="icons/canvas.png" alt="Image" class="button-canvas">
      <div class="image-text"><br>Trouble Happens, But Help is There!</div>
    </button>
  </div>

  <div class="main-2">
    <button class="image-button">
      <img src="icons/canvas.png" alt="Image" class="button-canvas">
      <div class="image-text"><br>Stay Safe and Learn to Say No!</div>
    </button>

    <button class="image-button">
      <img src="icons/canvas.png" alt="Image" class="button-canvas">
      <div class="image-text"><br>No Work Until You're Older!</div>
    </button>
  </div>
</div>

